<a href="https://colab.research.google.com/github/Arifbinmushtaq/Arifbinmushtaq/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
month= {}
month[1]='jan'
month[2]='Feb'
month[3]= 'mar'
month[4]= 'Apr'
print(month)

{1: 'jan', 2: 'Feb', 3: 'mar', 4: 'Apr'}

In [ ]:
type(month)

dict

In [ ]:
Dict = {'Tim':18,'charlie':12,'Tiffany':22,'robery':23}
print(Dict['Tiffany'])

22

In [ ]:
price = {'tomato' :20,'cucumber':30,'potato':40}
price['potato']

40

In [ ]:
price['cucumber']

30

In [ ]:
price.keys()

dict_keys(['tomato', 'cucumber', 'potato'])

In [ ]:
price.values()

dict_values([20, 30, 40])

In [ ]:
price.items()

dict_items([('tomato', 20), ('cucumber', 30), ('potato', 40)])

In [ ]:
winter= {11:'november',12:'december',1:'january',2:'february'}
months=winter
months.clear()
months,winter

({}, {})

In [ ]:
password={'ram':'ak@607','shyam':'rou.589','Gita':'yam@B94'}
password.get('ram',-1)

'ak@607'

In [ ]:
password.get('gita','yam@B94')

'yam@B94'

In [ ]:
morepassword={'raman':'vi97@4','kishore':'23@jsk'}
password.update(morepassword)
passwords

{'Gita': 'yam@B94', 'ram': 'ak@607', 'shyam': 'rou.589'}

In [ ]:
Dict = {'Tim':18,'charlie':12,'tifanny':22,'robery':25}
Boys={'tim':18,'charlie':12,'robery':25}
Girls = {'tifanny:22'}
student_X=Boys.copy()
student_Y=Girls.Copy()
print(studentX)
print(studentY)

AttributeError: ignored

In [ ]:
Dict = {'Tim':18,'charlie':12,'Tifanny':22,'robery':25}
Boys = {'Tim':18,'charlie':12,'robery':25}
Girls = {'Tifanny':22}
for key in Boys.keys():
  if key in Dict.keys():
      print(True)
  else:
      print(False)

True
True
True