<a href="https://colab.research.google.com/github/Arifbinmushtaq/Arifbinmushtaq/blob/main/python_with_dsa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#python specific data structures 
#built in functions that is list ,tuple,dictionary,set
# 1 lists 
# lists is exactly what it sounds like , a container that contains different python objects which
# could be integers,floats , stings ,
#it is represented by square brackets and this is one of the attributes that differentiates it from tuples , which are seperated
#by parenthesis 
# it is also mutable ,it can be modified or update ,unlike tuples which are mutable .

subjects =['hindi','english','maths','history']
print(subjects )

['hindi', 'english', 'maths', 'history']

In [ ]:
details = [ 'megha verma ','c-55','raj nagar','pitam pura ','Delhi-110034',7266]
details

['megha verma ', 'c-55', 'raj nagar', 'pitam pura ', 'Delhi-110034', 7266]

In [ ]:
#applying eval function for transforming the row string to a list 
details=eval(input('enter the details of megha;'))

enter the details of megha;'megha verma ','c-55','raj nagar','pitam pura ','Delhi-110034',726

In [ ]:
list_of_animals = ['dog','cat','goat']
list_of_animals

['dog', 'cat', 'goat']

In [ ]:
list_of_numbers = [1,2,3,4,5]
list_of_animals

['dog', 'cat', 'goat']

In [ ]:
list_of_floating_numbers = [1.1,2.3,4.5,1.9]
list_of_floating_numbers

[1.1, 2.3, 4.5, 1.9]

In [ ]:
#accessing values with list from begining it starts as 0,1,2.........
#from end it starts as -1,-2,-3,-4,-5..................
list=[3,22,29 ,47,28,98,27,19,33]
list[0]=3
list[1]=22
list[3]=29
list[-1]=33
list[-4]=98

In [ ]:
#python list silicing 
#list silicing is the method of splitting a subset of a list and the indices of 
# of the list objects are also used for this

In [ ]:
list1=[1,2,3,4,5,6,7,8,9]
list1[:2] #getting only first two members

[1, 2]

list1[:] #getting all members

In [ ]:

list1[:3] #getting first three members

[1, 2, 3]

In [ ]:

list1[3:] #gettingh members after 3 but 3 is excluded

[4, 5, 6, 7, 8, 9]

In [ ]:

list1[1:3] #getting from after 1 as 2 included and then 3 ( :3 include 3 )

[2, 3]

In [ ]:

list1[-3:] #last 3 members

[7, 8, 9]

In [ ]:
list1[2:-1] #from 3 to last 2nd member

[3, 4, 5, 6, 7, 8]